html,
body {
    height: 100%;
    background: linear-gradient(#0e47ab, #fff);
}

.display-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.align-center-screen {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}